.oya{
  display: flex;
  margin-bottom: 20px;
}
.oya_b{
  display: flex;
  width: 600px;
  margin-bottom: 20px;
}
.ko_d{
  background-color: pink;
  padding: 20px;
}
.ko_e{
  background-color: skyblue;
  padding: 20px;
}
.ko_f{
  background-color: orange;
  padding: 20px;
}
.ko_g{
  background-color: pink;
  flex:auto;
  padding: 20px;
}
.ko_h{
  background-color: skyblue;
  flex:auto;
  padding: 20px;
}
.ko_i{
  background-color: orange;
  flex:auto;
  padding: 20px;
}
.ko_j{
  flex:1;
  background-color: pink;
  padding: 20px;
}
.ko_k{
  background-color: skyblue;
  padding: 20px;
  flex:3;
}
.ko_l{
  flex:2;
  background-color: orange;
  padding: 20px;
}